classifier/data
classifier/rawdata
classifier/bottleneck
classifier/trainedModel
classifier/augmented
**/node_modules
**/*.CR2
**/*.ARW
**/*.NEF
**/*.cr2
**/*.arw
**/*.nef
app/categorized
app/categories.txt
